* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: blue;
    text-align: center;
    height: 400px;
    /* line-height: 400px; */
}


#ticket {
    color: gold;
    font-size: 50px;
    padding: 30px;
    margin: 150px 0;
    border: 5px dashed gold;
    display: inline-block;
}